@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
.center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  padding-left: 150px;
}
button {
  outline: none;
  border: none;
  cursor: pointer;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: inherit;
  font-family: "Inter", sans-serif;
}
:root {
  --main-bg-color: #040714;
  --main-text-color: #e1e6f0;
  --active-text-color: #fff;
}
html {
  scroll-behavior: smooth;
  height: 100%;
}
body {
  overflow-x: hidden;
  min-height: 100%;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}
a {
  color: var(--main-text-color);
  text-decoration: none;
}

@media only screen and(min-width:768px) {
  :root {
    font-size: 16px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  :root {
    font-size: 15px;
  }
}

@media only screen and (max-width: 479px) {
  :root {
    font-size: 14px;
  }
}
