.swiper-button-next svg,
.swiper-button-prev svg {
  display: none;
}
.swiper-button-next,
.swiper-button-prev {
  margin-top: 10px !important;
  top: 0 !important;
  bottom: 0 !important;
  width: 45px !important;
  height: 45px !important;
}
.swiper-button-next {
  /* background-color: black; */
  right: 0 !important;
  background-image: linear-gradient(to left, black, transparent);
}

.swiper-button-prev {
  left: 0 !important;
  background-image: linear-gradient(to right, black, transparent);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.swiper-button-next::after {
  background-image: url(/assets/images/arrow\ right.svg);
}
.swiper-button-prev::after {
  background-image: url(/assets/images/arrow\ left.svg);
}
