footer {
  background-color: var(--main-bg-color);
  text-align: center;
  font-size: 0.8rem;
  padding-top: 20px;
  padding-bottom: 10px;

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
